.main {
    margin: 3rem auto;
    width: 90%;
    max-width: calc(100vw - 10rem);
    padding: 2vw 20vw;
}

@media screen and (max-width: 1300px) {
    .main {
        padding: 2vw 10vw;
    }
}

@media screen and (max-width: 700px) {
    .main {
        padding: 2vw 4vw;
    }
}
